main {
  width: 40%;
  min-height: 300px;
  margin: 4% auto;
  background-color: aliceblue;
  padding: 1rem 2rem;
}
header {
  padding: 1rem 0;
  text-align: center;
  color: rgb(251, 193, 193);
  font-size: 1.5rem;
  font-weight: bold;
}
.resetBtn {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: rgb(251, 193, 193);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.6s;
}
.resetBtn:hover {
  background-color: #fff;
  color: rgb(251, 193, 193);
}
